<!DOCTYPE html>
<html lang="en">
{{>head}}
<header>
    {{>header}} 
</header>
<body>
    <div class="main-content">
        <img class="profile" src="/img/mateo-avila-chinchilla-x_8oJhYU31k-unsplash.jpg" alt="">
        <h5>Created by {{ name }}</h5>
    </div>   
</body>
<footer>
    {{>footer}}
</footer>
</html>