<!DOCTYPE html>
<html lang="en">
{{>head}}
<header>
    {{>header}} 
</header>
<body>
    <div class="main-content">

        <h3>On a lifelong journey to learn a little bit more than I knew yesterday..</h3>        
         <img class="scene" src="/img/road.jpg" alt="">
        <h5>This app was created with vanilla JS, Node, and Express.  Weatherstack API for forecast data.  Geoapify for forward geolocation data to convert an address or location into coordinates. </h5>
    </div>   
</body>
<footer>
    {{>footer}}
</footer>
</html>