<div class="container">
    <div class="header-title"></div>
    <img src="/img/icon.png" class="icon" alt="">
    <h1>{{title}}</h1>
    
</div>

<div class="">
    <a href="/">Weather Lookup</a>
    <a href="/about">About Weather App</a>    
</div>